<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name='viewport' content="width=device-width, initial-scale=1"/>
        <title>Music Controller</title>
        <!-- look at js code and bundle it -->
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        />
        <!-- link to index throw static folder -->
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"
        />
    </head>
    <body>
        <div id="main">
            <div id="app">

            </div>
        </div>
        <!-- call to main.js to webpack -->
        <script src="{% static "frontend/main.js" %}"></script>
    </body>
</html>